	{% extends "layout.html" %}
	{% block title %} Client View - Onboarding {% endblock %}
	{% load static %}

	{% block style %}

	{% endblock %}

    {% block main-content %}
	<div class="m-grid__item m-grid__item--fluid m-wrapper">

		<!-- BEGIN: Subheader -->
		<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">Onboarding Overview</h3>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
						<li class="m-nav__item m-nav__item--home">
							<a href="#" class="m-nav__link m-nav__link--icon">
							   <i class="m-nav__link-icon fa fa-project-diagram"></i>
							</a>
						</li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                <span class="m-nav__link-text">[ClientName] Onboarding</span>
                            </a>
                        </li>
                    </ul>
            </div>
		</div>
		</div>
	<!-- END: Subheader -->


		<div class="m-content">
			<div class="m-portlet m-portlet--full-height">
				<!-- main card -->
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Overview
							<small>Status - <button class="btn btn-green m-btn m-btn--custom btn-sm">test</button></small>
						</h3>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="" data-original-title="This is the overall onboarding status.  This shows where Intellicomp is at regarding your onboarding's completeness.">
									<i class="fa fa-info"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				</div>
            </div>
            <div class="m-portlet ">
							<div class="m-portlet__body  m-portlet__body--no-padding">
								<div class="row m-row--no-padding m-row--col-separator-xl">
									<div class="col-md-12 col-lg-6 col-xl-3">

										<!--begin::Total Profit-->
										<div class="m-widget24">
											<div class="m-widget24__item">
												<h4 class="m-widget24__title">
													Total Hours
												</h4><br>
												<span class="m-widget24__desc">
													All Hours Input
												</span>
												<span class="m-widget24__stats m--font-brand">
													175
												</span>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
													<div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="m-widget24__change">
													Percent to Budget
												</span>
												<span class="m-widget24__number">
													78%
												</span>
											</div>
										</div>

										<!--end::Total Profit-->
									</div>
									<div class="col-md-12 col-lg-6 col-xl-3">

										<!--begin::New Feedbacks-->
										<div class="m-widget24">
											<div class="m-widget24__item">
												<h4 class="m-widget24__title">
													Tickets Complete
												</h4><br>
												<span class="m-widget24__desc">
													Total Project Items Completed
												</span>
												<span class="m-widget24__stats m--font-info">
													13
												</span>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
													<div class="progress-bar m--bg-info" role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="m-widget24__change">
													Percent Complete
												</span>
												<span class="m-widget24__number">
													84%
												</span>
											</div>
										</div>

										<!--end::New Feedbacks-->
									</div>
									<div class="col-md-12 col-lg-6 col-xl-3">

										<!--begin::New Orders-->
										<div class="m-widget24">
											<div class="m-widget24__item">
												<h4 class="m-widget24__title">
													Phases Complete
												</h4><br>
												<span class="m-widget24__desc">
													Project Phase Completions
												</span>
												<span class="m-widget24__stats m--font-danger">
													1
												</span>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
													<div class="progress-bar m--bg-danger" role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="m-widget24__change">
													Percent Complete
												</span>
												<span class="m-widget24__number">
													69%
												</span>
											</div>
										</div>

										<!--end::New Orders-->
									</div>
									<div class="col-md-12 col-lg-6 col-xl-3">

										<!--begin::New Users-->
										<div class="m-widget24">
											<div class="m-widget24__item">
												<h4 class="m-widget24__title">
													Other Cat
												</h4><br>
												<span class="m-widget24__desc">
													Other Explaination
												</span>
												<span class="m-widget24__stats m--font-success">
													Num
												</span>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
													<div class="progress-bar m--bg-success" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="m-widget24__change">
													Percentage
												</span>
												<span class="m-widget24__number">
													90%
												</span>
											</div>
										</div>

										<!--end::New Users-->
									</div>
								</div>
							</div>
						</div>
            <div class="row">
							<div class="col-xl-8">

<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Project Tasks
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget11_tab1_content" role="tab">
														This Week
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget11_tab2_content" role="tab">
														Next Week
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">

										<!--Begin::Tab Content-->
										<div class="tab-content">

											<!--begin::tab 1 content-->
											<div class="tab-pane active" id="m_widget11_tab1_content">

												<!--begin::Widget 11-->
												<div class="m-widget11">
													<div class="table-responsive">

														<!--begin::Table-->
														<table class="table">

															<!--begin::Thead-->
															<thead>
																<tr>
																	<td class="m-widget11__label">Ticket #</td>
																	<td class="m-widget11__app">Ticket Summary</td>
																	<td class="m-widget11__sales">Tech(s) Assigned</td>
																	<td class="m-widget11__total m--align-right">Status</td>
																</tr>
															</thead>

															<!--end::Thead-->

															<!--begin::Tbody-->
															<tbody>
																<tr>
																	<td>
		                                                                12345678
																	</td>
																	<td>
																		<span class="m-widget11__title">Do Something Related</span>
																		<span class="m-widget11__sub">Additional Texts?</span>
																	</td>
                                                                    <td><span class="m-widget11__sub">Andrea M., John D., Smith, Q.</span></td>
																	<td class="m--align-right m--font-brand">In Progress</td>
																</tr>
                                                            	<tr>
																	<td>
		                                                                12345678
																	</td>
																	<td>
																		<span class="m-widget11__title">Do Something Related</span>
																		<span class="m-widget11__sub">Additional Texts?</span>
																	</td>
                                                                    <td><span class="m-widget11__sub">Andrea M., John D., Smith, Q.</span></td>
																	<td class="m--align-right m--font-brand">In Progress</td>
																</tr>
                                                            	<tr>
																	<td>
		                                                                12345678
																	</td>
																	<td>
																		<span class="m-widget11__title">Do Something Related</span>
																		<span class="m-widget11__sub">Additional Texts?</span>
																	</td>
                                                                    <td><span class="m-widget11__sub">Andrea M., John D., Smith, Q.</span></td>
																	<td class="m--align-right m--font-brand">In Progress</td>
																</tr>

															</tbody>

															<!--end::Tbody-->
														</table>

														<!--end::Table-->
													</div>
													<div class="m-widget11__action m--align-right">
														<button type="button" class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom">Import Report</button>
													</div>
												</div>

												<!--end::Widget 11-->
											</div>

											<!--end::tab 1 content-->

											<!--begin::tab 2 content-->
											<div class="tab-pane" id="m_widget11_tab2_content">

												<!--begin::Widget 11-->
												<div class="m-widget11">
													<div class="table-responsive">

														<!--begin::Table-->
														<table class="table">

															<!--begin::Thead-->
															<thead>
																<tr>
																	<td class="m-widget11__label">#</td>
																	<td class="m-widget11__app">Application</td>
																	<td class="m-widget11__sales">Sales</td>
																	<td class="m-widget11__change">Change</td>
																	<td class="m-widget11__price">Avg Price</td>
																	<td class="m-widget11__total m--align-right">Total</td>
																</tr>
															</thead>

															<!--end::Thead-->

															<!--begin::Tbody-->
															<tbody>
																<tr>
																	<td>
																		<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
																			<input type="checkbox"><span></span>
																		</label>
																	</td>
																	<td>
																		<span class="m-widget11__title">Loop</span>
																		<span class="m-widget11__sub">CRM System</span>
																	</td>
																	<td>19,200</td>
																	<td>$63</td>
																	<td>$11,300</td>
																	<td class="m--align-right m--font-brand">$34,740</td>
																</tr>
																<tr>
																	<td>
																		<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input type="checkbox"><span></span></label>
																	</td>
																	<td>
																		<span class="m-widget11__title">Selto</span>
																		<span class="m-widget11__sub">Powerful Website Builder</span>
																	</td>
																	<td>24,310</td>
																	<td>$39</td>
																	<td>$14,700</td>
																	<td class="m--align-right m--font-brand">$46,010</td>
																</tr>
																<tr>
																	<td>
																		<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input type="checkbox"><span></span></label>
																	</td>
																	<td>
																		<span class="m-widget11__title">Jippo</span>
																		<span class="m-widget11__sub">The Best Selling App</span>
																	</td>
																	<td>9,076</td>
																	<td>$105</td>
																	<td>$8,400</td>
																	<td class="m--align-right m--font-brand">$67,800</td>
																</tr>
																<tr>
																	<td>
																		<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input type="checkbox"><span></span></label>
																	</td>
																	<td>
																		<span class="m-widget11__title">Verto</span>
																		<span class="m-widget11__sub">Web Development Tool</span>
																	</td>
																	<td>11,094</td>
																	<td>$16</td>
																	<td>$12,500</td>
																	<td class="m--align-right m--font-brand">$18,520</td>
																</tr>
															</tbody>

															<!--end::Tbody-->
														</table>

														<!--end::Table-->
													</div>
													<div class="m-widget11__action m--align-right">
														<button type="button" class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom">Generate Report</button>
													</div>
												</div>

												<!--end::Widget 11-->
											</div>

											<!--end::tab 2 content-->

											<!--begin::tab 3 content-->
											<div class="tab-pane" id="m_widget11_tab3_content">
											</div>

											<!--end::tab 3 content-->
										</div>

										<!--End::Tab Content-->
									</div>
								</div>
							</div>
							<div class="col-xl-4">

								<!--begin:: Widgets/Company Summary-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Company Summary
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
													<a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-primary">
														Actions
													</a>
													<div class="m-dropdown__wrapper">
														<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 34.5px;"></span>
														<div class="m-dropdown__inner">
															<div class="m-dropdown__body">
																<div class="m-dropdown__content">
																	<ul class="m-nav">
																		<li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">Quick Actions</span>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-share"></i>
																				<span class="m-nav__link-text">Item</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-chat-1"></i>
																				<span class="m-nav__link-text">Item 2</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-info"></i>
																				<span class="m-nav__link-text">Item 3</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																				<span class="m-nav__link-text">Item 4</span>
																			</a>
																		</li>
																		<li class="m-nav__separator m-nav__separator--fit">
																		</li>
																		<li class="m-nav__item">
																			<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget13">
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Company Name
												</span>
												<span class="m-widget13__text m-widget13__text-bolder">
													Intellicomp Technologies
												</span>
											</div>
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Primary Contact:
												</span>
												<span class="m-widget13__text m-widget13__text-bolder">
													Kevin.Kahn@intellicomp.net
												</span>
											</div>
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Other Data:
												</span>
												<span class="m-widget13__text">
													Lorem Ipsum.
												</span>
											</div>
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Employee Contacts:
												</span>
												<span class="m-widget13__text m-widget13__text-bolder">
													1123
												</span>
											</div>
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Something Else:
												</span>
												<span class="m-widget13__text">
													Data
												</span>
											</div>
											<div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right">
													Phone:
												</span>
												<span class="m-widget13__text m-widget13__number-bolder m--font-brand">
													(123) 456-7890
												</span>
											</div>
											<div class="m-widget13__action m--align-right">
												<button type="button" class="m-widget__detalis  btn m-btn--pill  btn-accent">Detalis</button>
												<button type="button" class="btn m-btn--pill    btn-dark">Update</button>
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Company Summary-->
							</div>
						</div>
        </div>
    </div>




    {% endblock %}