{%  extends "projectlayout.html" %}
{% load static %}

{% block styles %}

<link href="{% static 'base/css/vendors/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block pagejs %}

<script src="{% static 'base/js/vendors/datatables/datatables.bundle.js' %}"></script>

{% endblock %}

{% block title %} Open Onboarding Listing {% endblock %}

{% block main-content %}
<!--Page Header-->

<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<div class="m-content">
						<div class="m-portlet m-portlet--mobile">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Available Projects
									</h3>
								</div>
								</div>
							</div>
						<div class="m-portlet__body">
							<div class="dataTables_wrapper dt-bootstrap4 no-footer">
							<table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="datatable">
								<thead>
									<tr>
										<th>Project ID</th>
										<th>Client_Name</th>
										<th>Project Summary</th>
										<th>Date Created</th>
										<th>Project Status</th>

									</tr>
								</thead>
								<tbody>
								{% for perm in permissions %}
								{% if  perm.identifier == 'ViewProjects' and perm.enabled == True %}
									{% for proj in projData %}

									<tr class="clickable-row" data-href="{% url 'projecttemp' proj.id %}">
                                        <td><a href="{% url 'projecttemp' proj.id %}">{{ proj.id }} </a></td>
										<td>{{ proj.company.name }}</td>
										<td>
											<h5 class="no-margin">
												{{ proj.name}}
											</h5>
										</td>
										<td>
                                            {{ proj.estimatedStart|truncatechars:13}}
										</td>
										<td>

											<span class="label label-default">{{ proj.status.name }}</span>
										</td>

										</tr>
                                    {% endfor %}
								{% elif  perm.Identifier is 'EnterNewServiceRequests' and perm.enabled is False %}
								<td colspan="5"><center>There is no projects available for access.</center></td>
								{% endif %}
								{% endfor %}
								</tbody>
							</table>
							</div>
						</div>

					</div>
				</div>
				</div>






        {% endblock %}


<script>

</script>
